.ant-menu-no-underline .ant-menu-item::after {
  border: none !important; /* 移除下划线 */
}
.ant-menu-custom .ant-menu-item:hover,
.ant-menu-custom .ant-menu-item.ant-menu-item-selected {
  background-color: black !important; /* 背景变黑 */
}
.ant-menu-custom .ant-menu-item:hover span,
.ant-menu-custom .ant-menu-item.ant-menu-item-selected span {
  color: white !important; /* 文字变白 */
}
.ant-menu-custom .ant-menu-item {
  height: 70px;
  line-height: 70px;
}

.ant-menu-custom .ant-menu-title-content {
  color: #ccc;
}
