.ant-menu-no-underline .ant-menu-item::after {
  border: none !important;
}
.ant-menu-custom
  .ant-menu-item:not(:first-child):not(:nth-last-child(-n + 4)):hover,
.ant-menu-custom
  .ant-menu-item:not(:first-child):not(
    :nth-last-child(-n + 4)
  ).ant-menu-item-selected {
  background-color: black !important;
}

.ant-menu-custom
  .ant-menu-item:not(:first-child):not(:nth-last-child(-n + 4)):hover
  span,
.ant-menu-custom
  .ant-menu-item:not(:first-child):not(
    :nth-last-child(-n + 4)
  ).ant-menu-item-selected
  span {
  color: white;
}
.ant-menu-custom .ant-menu-item:nth-last-child(-n + 2):hover span {
  color: white !important;
}
.ant-menu-custom .ant-menu-item {
  height: 70px;
  line-height: 70px;
}

.ant-menu-custom .ant-menu-title-content {
  color: #ccc;
}
